PORT=8000
MONGODB_URI=mongodb+srv://abhijeetkv2:abhijeet123@cluster0.gfbmtj7.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=chai_aur_code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai_aur_backend
REFRESH_TOKEN_EXPIRY=10d